@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Questrial&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial';
}
:root {
  --primary-color: #0189e0;
  --tertiary-color: #7bccf3;
  --secondary-color: #eee8f5;
  --dark-color: #0b0017;
}
